* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;

}
.slide-left {
    width: 40%;
    height: 100vh;
    transition: 1s;
}
.slide-right {
    width: 60%;
    height: 100vh;
    transition: 1s;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.arrows {
    width: 100px;
    height: 100px;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(40% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    z-index: 10;
}

.arrow-up {
    background: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.arrow-down {
    background: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button>svg {
    width: 20px;
}

.slide-right>.slide:nth-child(1) {
    background: green;
}

.slide-right>.slide:nth-child(2) {
    background: yellow;
}

.slide-right>.slide:nth-child(3) {
    background: orange;
}

.slide-left>.slide:nth-child(1) {
    background: pink;
}

.slide-left>.slide:nth-child(2) {
    background: bisque;
}

.slide-left>.slide:nth-child(3) {
    background: red;
}